.footer {
	padding: 24px 16px;
	background-color: #4da44d;
}

hr {
	height: 1px;
	background-color: white;
	border: none;
	max-width: 300px;
}

.contact-container {
	display: grid;
	grid-gap: 8px;
	grid-template-columns: repeat(1, 1fr);
}

.footer-title {
	color: white;
	font-weight: bold;
	margin-bottom: 16px;
}

.footer-text {
	color: white;
}