.navbar-container {
	z-index: 10000;
	position: fixed;
	width: 100%;
	box-shadow: 0 0 8px rgba(0, 0, 0, 0.25);
}

.navbar-green {
	background-color: #caf4ca;
}

.coronavirus-alert {
	background-color: rgb(196, 196, 196);
	color: red;
	font-weight: bold;
	padding: 4px 8px;
}

.lang-button {
	padding: 4px 8px;
	background-color: transparent;
	border: 1px solid #4da44d;
	border-radius: 4px;
	color: #4da44d;
}

.lang-button:active,
.lang-button:focus {
	outline: none;
}

.lang-button:active {
	background-color: #4da44d;
	color: white;
}
